body {
    font-family: sans-serif;
    background-color: #632F4E;
}
h1{
   margin: 48px;
   background-color: #00FFB7; 
   padding: 100px;
}
a{
    color:white;
    background-color: #C380FF;
    padding: 10px;
}
h2{
    color: #F8FFD0;
    padding: 10px;
}
img{
   width: 290px;
}
